{% extends 'base.html.twig' %} {% block title %}Inscription{% endblock %} 

{% block body %}
    {% include 'includes/flash.html.twig' %}
    <p>Aller vers la page de connection  <a href="{{ path('app_login') }}">Login</a></p>
{% endblock %}