{% for label, messages in app.flashes() %}
    {% for message in messages %}
        {% if label == 'success'  %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class="d-flex justify-content-between">
                    <div class="alert-message">
                        {{ message }}
                    </div>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% elseif label == 'danger' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div class="d-flex justify-content-between">
                    <div class="alert-message">
                        {{ message }}
                    </div>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% elseif label == 'warning' %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <div class="d-flex justify-content-between">
                    <div class="alert-message">
                        {{ message }}
                    </div>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
