<h1>Réinitialiser votre mot de passe</h1>
<p>Bonjour {{ user.firstname }} {{ user.lastname }}, </p>
<p>Pour votre demande de réinitialisatioin, veuillez cliquer sur le lien ci-dessous: </p>
<p> <a href="{{ url|raw }}">{{url|raw}}</a>>Réinitialisation</a></p>
<p>Ce lien expirera dans 30 minutes</p>