<h1>Réinitialiser votre mot de passe</h1>
<p>Bonjour {{ user.firstname }} {{ user.lastname }},</p>
<p>Pour votre demande de réinitialisation, veuillez cliquer sur le lien ci-dessous:</p>
<p><a href="{{ url|raw }}">Réinitialisation</a></p>
<p>Ce lien expirera dans 30 minutes</p>
